# Base de datos
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=vetcore_db
MYSQL_USER=vetcore_user
MYSQL_PASSWORD=vetcore_pass

# Auth Service
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=24h

# API Gateway
CORS_ORIGIN=*
NODE_ENV=production
